.box{
  .box-header{
    .box-title{
      &.box-subtitle{
        font-size: 1.25rem;
        position: absolute;
        right: 50px;
        top: 1.25rem;
        text-align: right;
      }
    }
    .box-tools{

    }
  }
  .box-filters{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f4f4f4;
  }
  .box-body{

  }
  .overlay{
    .overlay-title{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      padding: 0;
      margin: 0 auto;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
    }
  }
}
