#admin-single-team{
  .box-widget-player-single{
    position: relative;
    .player-remove-button{
      cursor: pointer;
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 2rem;
      color: white;
      opacity: .75;
    }
    .team-header{
      position: relative;
    }
    .avatar-upload-icon{
      cursor: pointer;
      position: relative;
      top: 7px;
      left: -50%;
      color: white;
      font-size: 2em;
      opacity: .5;
    }
  }
}
