//  Base
@import 'base/variables';
@import 'base/mixins';
@import 'base/breakpoints';

/*  Presentational */
@import 'admin/buttons';
@import 'admin/box';

//  Management
@import 'admin/editor';
@import 'admin/uploaders';

//  Components
@import 'admin/admin-wrapper';
@import 'admin/admin-nav';

body,html{
  height:100%;
  font-size: 16px;
  @media #{$sm}{
    font-size: 14px;
  }
}

#app, #main-app-wrapper{
  width: 100%;
  height:100%;
}

.collapse{
  display: initial !important;
}

body{
  background: $white;
}

*{
  font-family: 'Roboto';
}

.fa-1.5x{
  font-size: 1.5rem !important;
}
.fa-2x{
  font-size: 2rem !important;
}
.fa-3x{
  font-size: 3rem !important;
}
.fa-4x{
  font-size: 4rem !important;
}
