@import '../base/variables';

body{
  background: $primary !important;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;

  #login-form{
    text-align: center;
    position: relative;
    top:50%;
    transform: translateY(-50%);

    .title{
      margin: 15px auto;
      padding: 0;
      color: $white;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    input[type="text"], input[type="password"]{
      display: block;
      margin: 15px auto;
      border: 0px;
      outline: 0px;
      padding: 10px 5px;
      width: 250px;
    }
    #username-input{}
    #password-input{}
    .login-button{
      display: block;
      margin: 15px auto;
      border: 0px;
      outline: 0px;
      padding: 10px 0px;
      width: 260px;
      background: $white;
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: bold;
      color: $primary-dark;
    }
    .login-form-error{
      color: $primary-dark;
    }
    .sign-in-cta{
      font-size: .95rem;
      color: $primary-dark;
      a{
        color: $white;
      }
    }
  }
}
