// Colors
$white:      #fcfcfc;
$black:      #333333;
$grey:       #666666;
$light-grey: #f7f8fa;
$primary:    #5ec4e7;
$secondary:  #ffcc75;

// FONTS
.uppercase{
  text-transform: uppercase;
}
.lowercase{
  text-transform: lowercase;
}
.regular{
  font-weight: 400;
}
.bold{
  font-weight: 700;
}
