.mail-form{
  form{
    button{
      transition: all ease-out .25s;
    }
    button[disabled]{
      background: transparent !important;
      border: 4px solid $secondary !important;
    }
    textarea{
      resize:none;
      height: 100px;
    }
    input, textarea{
      transition: all ease-out .25s;
      &.invalid{
        border: 1px solid red !important;
      }
      &.valid{
        border: 1px solid green !important;
      }
    }
  }
}
