$sm: "screen and (max-width: 39.9375em)";
$smToMd: "screen and (max-width: 40em)";
$md: "screen and (min-width: 40em)";
$md-only: "screen and (min-width: 40em) and (max-width: 63.9375em)";
$lg: "screen and (min-width: 64em)";
$lg-only: "screen and (min-width: 64em) and (max-width: 74.9375em)";
