// Colors
$white:          #fcfcfc;
$black:          #333333;
$grey:           #666666;
$light-grey:     #f7f8fa;
$primary:        #3c8dbc;
$primary-dark:   darken(#3c8dbc, 25%);
$secondary:      #dd4b39;
$secondary-dark: darken(#dd4b39, 25%);
$yellow: #ffae00;

// FONTS
.uppercase{
  text-transform: uppercase;
}
.lowercase{
  text-transform: lowercase;
}
.regular{
  font-weight: 400;
}
.bold{
  font-weight: 700;
}

.pointer {
  cursor: pointer;
}
